@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
}

#root {
  min-height: 100vh;
  height: fit-content;
  min-width: 100vw;
  width: 100vw;
  padding: 1rem;
}
